.tampil-blog {
	width: 100%;
	border: none;
}
.header,
.credit {
	width: 100%;
	background: rgb(244, 67, 54);
	color: white;
}
.header p,
.credit p {
	margin-top: 10px;
}
.header a,
.credit a {
	color: white;
	text-decoration: underline;
}